@charset "UTF-8";

#output {
    font-optical-sizing: auto;
    font-family:         'Hermit', monospace;
    font-weight:         400;
    font-style:          normal;
    font-size:           12pt;
}

button {
    font-optical-sizing: auto;
    font-family:         'Space Grotesk', sans-serif;
    font-weight:         bold;
    font-style:          normal;
    font-size:           12pt;
}

@font-face {
    font-family: 'Hermit';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/hermit/Hermit-Regular.woff2');
}

@font-face {
    font-family: 'Hermit';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/hermit/Hermit-Regular.woff2');
}

@font-face {
    font-family: 'Hermit';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/hermit/Hermit-Bold.woff2');
}

@font-face {
    font-family: 'Hermit';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/hermit/Hermit-BoldItalic.woff2');
}

@font-face {
    font-family: 'Hermit';
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/hermit/Hermit-Light.woff2');
}

@font-face {
    font-family: 'Hermit';
    font-weight: lighter;
    font-style: italic;
    src: url('../fonts/hermit/Hermit-LightItalic.woff2');
}

