@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    padding: 18px;
}

#playground {
    width: 50vw !important;
    height: 85vh !important;
    padding: 8px;
}

#tokenized {
    height: 350px !important;
    width: 450px !important;
    padding: 8px;
}

#output {
    height: 85vh !important;
    width: 44vw !important;
    padding: 8px;
}

#ast {
    height: 350px !important;
    width: 450px !important;
    padding: 8px;
}
