@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    overflow: hidden;

    box-sizing: border-box;
}

body {
    padding: 18px;
    width: 100vw;
    height: 100vh;
}

#tokenized {
    height: 350px !important;
    width: 450px !important;
    padding: 8px;
}

#ast {
    height: 350px !important;
    width: 450px !important;
    padding: 8px;
}
.footer {
    padding: 15px;
}
