@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 30px;
}

#playground {
    height: 350px !important;
    width: 450px !important;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
}
